:root{
    --background: #000000;
    --dark-one: #000005;
    --box-shadow: #5d00ff11;
    --form: #4700e1db;
    --color: azure;
    --color-two: #47fe27;
    --color-three: #fffffff5;
    --color-four: #6ddf6d;
}